body {
    max-width: 1200px;
    min-height: 150px;
    padding: 0;
    margin: 0 auto;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: flex-start;
    font-family:'Arial', sans-serif;
    font-size: 18px;
}

.c-log{
    width: 100%;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: flex-start;
}
.c-form{
    width: 494px;
    padding: 64px 60px 44px 60px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: flex-start;
    border-radius: 3px;
    border: 1px solid grey;
    background-color: #ffffff;
    font-family:'Tahoma', sans-serif;
    font-size: 18px;
    font-weight: lighter;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    margin-top: 50px;
}
.c-form__input{
    width: 100%;
    padding: 20px 20px;
    margin-bottom: 22px;
    display: inline-block;
    box-sizing: border-box;
    font-family:'Tahoma', sans-serif;
    font-size: 18px;
    color: #b9b9b9;
    background-color: #f2f2f2;
    border:none;
    letter-spacing: 1.3px;
}
.c-form__button{
    width: 100%;
    border: none;
    cursor: pointer;
    background-color: #00b242;
    color: #ffffff;
    text-transform: uppercase;
    border-radius: 3px;
    padding:20px;
    margin-bottom: 18px;
    text-align: center;
    align-items: flex-start;
    font-family:'Arial', sans-serif;
    font-size: 18px;
    font-weight: 100;
    letter-spacing: 1.3px;
}
